<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='tela-login/style.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/00b11d72aa.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body class="main">

    <header>
        <h1 class="logo">FATEC</h1>
    </header>
    <section class="container">
        <div class="corpo">
            <div class="blocoazul"></div>
            <form action="/login" method="post" class="telalogin">

                <h1 class="titulo">Acessar conta</h1>
                <div class="email">
                    <i class="fa-regular fa-envelope fa-xl"></i>
                    <input class="em" type="email" name="email" placeholder="Email">
                </div>
                <div class="senha">
                    <i class="fa-solid fa-lock fa-xl"></i>
                    <input class="sh" type="password" name="password" placeholder="Senha">
                </div>
                <input type="submit" class="btn" value="Entrar">

                <a class="link" href="/cadastro">Não possui uma conta?<br>Clique aqui para se cadastrar</a>
            </form>

        </div>
    </section>
</body>

</html>