body {
  margin: 0;
  background-image: url(/img/fatec.jpg);
  background-size: 1920px 1080px;
  font-family: tahoma;
}
img {
  width: 80px;
}
.cinza {
  background-color: #e7e7e7;
  width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
  height: 800px;
  border-radius: 20px;
  box-shadow: 5px 5px 7px rgb(53, 53, 53);
  position: relative;
  padding: 2px;
}
.pcs {
  width: 565px;
  background: #f7f7f7;
  border: solid 1px white;
  border-radius: 10px;
  padding: 1px;
  margin: 30px 0px;
  height: 124px;
  display: flex;
  justify-content: space-around;
}
.prof {
  background-color: #f7f7f7;
  width: 170px;
  height: 120px;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}
header {
  margin: 0;
  height: 60px;
}

.pro {
  position: absolute;
  margin-top: 90px;
  margin-left: 97px;
}
.computadores {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coluna {
  margin-left: 64px;
}
.pc {
  margin-top: 10px;
}
