* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  background-size: 1920px 1080px;
  font-family: tahoma;
}
img {
  width: 75px;
}
.cinza {
  background-color: #e7e7e7;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.pcs {
  width: fit-content;
  background: #f7f7f7;
  border: solid 1px white;
  border-radius: 10px;
  padding: 1px;
  margin: 17px 0px;
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.prof {
  background-color: #f7f7f7;
  width: fit-content;
  margin-left: 150px;
  border-radius: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  grid-column: 1 / span 2;
  column-gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
header {
  margin: 0;
  height: 60px;
}

.computadores {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 30px;
}
.pc {
  margin-top: 10px;
}
.computadores a:hover,
a:visited {
  background-color: #ccc;
  color: inherit;
  border-radius: 10px;
}
.prof a:hover,
a:visited {
  background-color: #ccc;
  color: inherit;
  border-radius: 10px;
}
.computadores a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  align-items: center;
}
.prof a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background: #d1d1d1;
  text-align: center;
  grid-column: 1 / -1;
  display: flex;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

nav ul {
  display: inline-flex;
  list-style: none;
}

nav ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

.dropSala {
  display: none;
}

nav ul li:hover .dropSala {
  display: block;
  position: absolute;
  background: #d1d1d1;
  margin-top: 15px;
  margin-left: -30px;
}

nav ul li:hover .dropSala ul {
  display: block;
}

nav ul li:hover .dropSala ul li {
  text-align: center;
  transition: 0.4s;
}

nav ul li:hover .dropSala ul li:hover {
  background-color: rgb(167, 167, 167);
}

nav ul li a {
  cursor: pointer;
}

.dropAndares {
  display: none;
}

nav ul li:hover .dropAndares {
  display: block;
  position: absolute;
  background: #d1d1d1;
  margin-top: 15px;
  margin-left: -30px;
}

nav ul li .dropAndares ul {
  display: block;
}

nav ul li .dropAndares ul li {
  text-align: center;
  transition: 0.4s;
}

nav ul li:hover .dropAndares ul li:hover {
  background-color: rgb(167, 167, 167);
}

nav ul li a {
  cursor: pointer;
}
