body {
  margin: 0;
  background-color: #f7f7f7;
  background-size: 1920px 1080px;
  font-family: tahoma;
}
img {
  width: 90px;
}
.cinza {
  background-color: #e7e7e7;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  position: relative;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
}
.pcs {
  width: fit-content;
  background: #f7f7f7;
  border: solid 1px white;
  border-radius: 10px;
  padding: 1px;
  margin: 17px 0px;
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
}
.prof {
  background-color: #f7f7f7;
  width: fit-content;
  margin-left: 150px;
  border-radius: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  grid-column: 1 / span 2;
  column-gap: 20px;
}
header {
  margin: 0;
  height: 60px;
}

.pro {
  position: relative;
}
.computadores {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 30px;
}
.pc {
  margin-top: 10px;
}
.computadores a:hover,
a:visited {
  background-color: #ccc;
  color: inherit;
  border-radius: 10px;
}
.prof a:hover,
a:visited {
  background-color: #ccc;
  color: inherit;
  border-radius: 10px;
}
.computadores a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  align-items: center;
}
.prof a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
