<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>

  <header>
    <a href="/">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nave">
      <ul>
        <a href="/" class="inicio">
          <li>Início</li>
        </a>
        <a href="/chamados" class="chamados">
          <li>Chamados</li>
        </a>
        <a href="/contato" class="contato">
          <li>Contato</li>
        </a>
      </ul>
    </nav>
    <div class="login">
      {% if session['categoria'] == "admin" %}
      <a href="/usuarios" class="btn1">Usuários</a>
      <a href="/logout" class="btn2">Sair</a>
      {% elif session['logged'] %}
      <a href="/meus_chamados" class="btn1">Meus chamados</a>
      <a href="/logout" class="btn2">Sair</a>
      {% else %}
      <a href="/login" class="btn1">Entrar</a>
      <a href="/cadastro" class="btn2">Registrar-se</a>
      {% endif %}
    </div>
  </header>

</body>

</html>