* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #555;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sala {
  background-color: white;
  margin: auto;
  padding: 16px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  direction: rtl;
}

.b {
  background-color: orange;
  padding: 16px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.b a {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}