<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrir chamado</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{url_for('static',filename='footer/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='tela-abrir-chamados/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='header/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a href="../home/index.html">
            <h1 class="logo">FATEC</h1>
        </a>

        <nav class="nave">
            <ul>
                <a href="/">
                    <li>Início</li>
                </a>
                <a href="/chamados">
                    <li>Chamados</li>
                </a>
                <a href="#">
                    <li>Contato</li>
                </a>
            </ul>
        </nav>

        <div class="login">
            <a href="#" class="btn1">Entrar</a>
            <a href="#" class="btn2">Registrar-se</a>
        </div>
    </header>

    <section class="step-wizard">
        <ul class="step-wizard-list">
            <li class="step-wizard-item">
                <span class="progress-count">1</span>
                <span class="progress-label">Selecione o andar</span>
            </li>
            <li class="step-wizard-item">
                <span class="progress-count">2</span>
                <span class="progress-label">Selecione a sala</span>
            </li>
            <li class="step-wizard-item">
                <span class="progress-count">3</span>
                <span class="progress-label">Selecione o computador a ser reportado</span>
            </li>
            <li class="step-wizard-item current-item">
                <span class="progress-count">4</span>
                <span class="progress-label">Realize o chamado</span>
            </li>
        </ul>
    </section>

    <div id="container">
        <a class="voltar" href="../sala-pequena/index.html"><img src="{{url_for('static', filename='assets/voltar.png')}}" alt="">Voltar</a>
        <div class="tela-detalhes">
            <div id="icon-pc" class="tela-detalhes">
                <img src="{{url_for('static', filename='assets/pc.png')}}" alt="">
            </div>
            <div class="tela-detalhes">
                <div>
                    <ul id="detalhes-1">
                        <li>Processador</li>
                        <li>Ram</li>
                        <li>Endereço</li>
                    </ul>
                </div>
                <div>
                    <ul id="detalhes-2">
                        <li>{{pc.processador}}</li>
                        <li>{{pc.ram}}</li>
                        <li>sala {{pc.sala}}, número {{pc.numero}}</li>
                    </ul>
                </div>
            </div>


        </div>

        <div id="forms">
            <form id="contactform" action="/novo-chamado" method="POST">
                <div id="forms-titulo">
                    <label for="input.título">Título
                        <hr>
                    </label>
                    <input placeholder="Digite um título" type="text" id="input.título" name="titulo" autocomplete="off" required>
                </div>

                <div class="forms-categoria">
                    <label style="text-transform: uppercase" for="">Categoria
                        <hr>
                    </label>
                    <div>
                        <input value="hardware" type="radio" name="categoria" id="hardware" required>
                        <label for="hardware">Hardware</label>
                    </div>

                    <div>
                        <input value="software" type="radio" name="categoria" id="software" required>
                        <label for="software">Software</label>
                    </div>

                    <div>
                        <input value="rede" type="radio" name="categoria" id="rede" required>
                        <label for="rede">Rede</label>
                    </div>

                </div>

                <div id="forms-codigo-erro">
                    <label for="codigo.erro">Código de erro
                        <hr>
                    </label>
                    <input placeholder="Digite o código de erro (opicional)" id="codigo.erro" name="codigo_de_erro" type="text" autocomplete="off" required>
                </div>

                <div id="forms-email">
                    <label for="input.título">Insira seu email para ser notificado
                        <hr>
                    </label>
                    <input type="email" placeholder="email@exemple.com" type="text" id="email" name="email" autocomplete="off" required>
                </div>

                <div id="forms-descrição">
                    <label for="descrição.erro">Descrição
                        <hr>
                    </label>
                    <textarea placeholder="descreva o problema do computador" name="text" id="text" cols="30" rows="10" required></textarea>
                </div>

                <input name="_formsubmit_id" type="text" style="display:none">
                <div class="enviar-bottom">
                    <input value="Enviar" type="submit" name="" id="enviar">
                </div>

                <input name="_redirect" type="hidden" id="name" value="https://apifatec.github.io/SOS_API/src/tela-abrir-chamado/index.html?status=true&">
            </form>

        </div>


    </div>

    <div class="modal" id="modal">
        <div class="card">
            <h1>Solicitação enviada com sucesso</h1>
            <p>Obrigado por nos avisar!</p>
            <div class="button">
                <button onclick="modal()">
                    OK
                </button>
            </div>
        </div>
    </div>

    <footer>
        <a href="#" class="logo">FATEC</a>
    </footer>
</body>

</html>