<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrir chamado</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{url_for('static',filename='footer/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='tela-abrir-chamados/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='header/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a href="/">
            <h1 class="logo">FATEC</h1>
        </a>

        <nav class="nave">
            <ul>
                <a href="/">
                    <li>Início</li>
                </a>
                <a href="/chamados">
                    <li>Chamados</li>
                </a>
                <a href="#">
                    <li>Contato</li>
                </a>
            </ul>
        </nav>

        <div class="login">
            <a href="#" class="btn1">Entrar</a>
            <a href="#" class="btn2">Registrar-se</a>
        </div>
    </header>

    <section class="step-wizard">
        <ul class="step-wizard-list">
            <li class="step-wizard-item">
                <span class="progress-count">1</span>
                <span class="progress-label">Selecione o andar</span>
            </li>
            <li class="step-wizard-item">
                <span class="progress-count">2</span>
                <span class="progress-label">Selecione a sala</span>
            </li>
            <li class="step-wizard-item">
                <span class="progress-count">3</span>
                <span class="progress-label">Selecione o computador a ser reportado</span>
            </li>
            <li class="step-wizard-item current-item">
                <span class="progress-count">4</span>
                <span class="progress-label">Realize o chamado</span>
            </li>
        </ul>
    </section>

    <div id="container">
        <a class="voltar" href="/fachada"><img
                src="{{url_for('static', filename='assets/voltar.png')}}" alt="">Voltar</a>
        <div class="tela-detalhes">
            <div id="icon-pc" class="tela-detalhes">
                <img src="{{url_for('static', filename='assets/pc.png')}}" alt="">
            </div>
            <div class="tela-detalhes">
                <div>
                    <ul id="detalhes-1">
                        <li>Processador</li>
                        <li>Ram</li>
                        <li>Endereço</li>
                    </ul>
                </div>
                <div>
                    <ul id="detalhes-2">
                        <li>{{pc.processador}}</li>
                        <li>{{pc.ram}}</li>
                        <li>sala {{pc.sala}}, número {{pc.numero}}</li>
                    </ul>
                </div>
            </div>


        </div>

        <form action="/novo-chamado/{{pc.idComputador}}" class="form" method="POST">
            <h3 class="h3">Título</h3>
            <input name="titulo" type="text" placeholder="Digite um título">
            <h3 class="h3">Categoria</h3>
            <div class="categoria">
                <label for="categoria1">
                    <input type="radio" id="categoria1" value="Hardware" name="categoria">
                    Hardware
                </label>
                <label for="categoria2">
                    <input type="radio" id="categoria2" value="Software" name="categoria">
                    Software
                </label>
                <label for="categoria3">
                    <input type="radio" id="categoria3" value="Rede" name="categoria">
                    Rede
                </label>
            </div>

            <h3 class="h3">Código de error</h3>
            <input name="cod_erro" type="text" placeholder="digite código de erro (opicional)">

            <h3 class="h3">Descrição</h3>
            <input name="desc" type="text" placeholder="descreva o problema do computador" class="desc">

            <label class="notif" for="notificar">
                <input onclick="showEmail()" type="checkbox" name="notificar" id="notificar">
                Receber uma email quando o chamado for resolvido
            </label>

            <input placeholder="email@exemple.com" type="email" name="email" id="email">
            
            <input class="enviar" type="submit" value="Enviar">
        </form>

    </div>

    <div class="modal" id="modal">
        <div class="card">
            <h1>Solicitação enviada com sucesso</h1>
            <p>Obrigado por nos avisar!</p>
            <div class="button">
                <button onclick="modal()">
                    OK
                </button>
            </div>
        </div>
    </div>

    <footer>
        <a href="#" class="logo">FATEC</a>
    </footer>

    <script>
        function showEmail(id) {
            check = document.getElementById('notificar')
            if (check.checked) {
                document.getElementById('email').style.display = "flex"
            } else {
                document.getElementById('email').style.display = "none"
                check.checked = false
            }
        }
    </script>
</body>

</html>