* {padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;}

main{
    background-color: #ffffff;
    border-style: solid;
    border-radius: 20 px;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 15%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(230, 230, 230) ;
    border-radius: 20px;
    padding-left: 20px;
    
    
}
.conteudo{
    display: flex;
    margin-right: 3px;
}


#pc_logo {
    margin-top: 4%;
    margin-right: 1%;
    margin-left: 1%;
}

#pc_logo img {
    height: 160px;
    width:  160px;
    
    border-width: 0.2px;
    border-color: rgb(235, 235, 235);
    border-radius:10px ;
}

#windows_edition {
    display: block;
    margin-top: 5%;
    width: 70%;
}
#windows_edition ul {
    list-style: none;
    margin-left: 7%;
}

#windows_edition li {
    padding: 5px;
}

.conteudo h3{
    margin-left: 4%;
    margin-top: 3%;
}

#especificacoes{
    width:90%;
}

.colunas{
    display: flex;
    margin-left: 8%;
}

.colunas2{
    display: flex;
    margin-top: 20px;
}

.coluna1 {
    list-style: none;
    display: flexbox;
    font-size: medium;
    width: 40%;
}
.coluna2 {
    list-style: none;
    display: flexbox;
    font-size: medium;

}
.coluna1 li {
    margin-top: 15px;
}
.coluna2 li {
    color: rgba(83, 82, 82, 0.849);
    text-decoration: none;
    margin-top: 15px;
}
 
 #botao{
    display: flex;
    width: 100%;
    align-self: center;
    margin-left: 3% !important;
    margin-bottom: 10px;
    margin-top: 40px;
  }

  #botao button  {
    border-radius: 20px;
    width: 150px;
    padding: 15px;
    background-color:  rgb(84, 138, 253);
    color: white;
    border-color:  rgb(84, 138, 253);
  }

    
  #botao > button:hover {
    background-color: rgb(71, 121, 231);
  }
  
  #botao > button:active {
    border: 1px solid black;
    padding-block: 9px;
  }
