<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='sala-grande/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='header/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='footer/style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sen:wght@400;700&display=swap" rel="stylesheet">
  <title>Sala {{sala}}</title>
</head>

<body>
  <header>
    <a href="/">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nave">
      <ul>
        <a href="/">
          <li>Início</li>
        </a>
        <a href="/chamados">
          <li>Chamados</li>
        </a>
        <a href="#">
          <li>Contato</li>
        </a>
      </ul>
    </nav>

    <div class="login">
      <a href="#" class="btn1">Entrar</a>
      <a href="#" class="btn2">Registrar-se</a>
    </div>
  </header>

  <section class="step-wizard">
    <ul class="step-wizard-list">
      <li class="step-wizard-item">
        <span class="progress-count">1</span>
        <span class="progress-label">Selecione o andar</span>
      </li>
      <li class="step-wizard-item">
        <span class="progress-count">2</span>
        <span class="progress-label">Selecione a sala</span>
      </li>
      <li class="step-wizard-item current-item">
        <span class="progress-count">3</span>
        <span class="progress-label">Selecione o computador a ser reportado</span>
      </li>
      <li class="step-wizard-item">
        <span class="progress-count">4</span>
        <span class="progress-label">Realize o chamado</span>
      </li>
    </ul>
  </section>

  <div class="container">
    <div class="layout-pcs">
      <nav class="navbar">
        <a class="voltar" href="/piso/{{piso}}" id="avoltar"><img
            src="{{url_for('static', filename='assets/voltar.png')}}" alt="" />Voltar</a>
        <ul class="lista-nav">
          <span href="#">
            <li id="andar"> Andares
          </span>
          <div class="dropAndares">
            <ul>
              <a>
                <li>Térreo</li>
              </a>
              <li id="andar1"><a>Andar 1</a>
                <div class="dropSala1">
                  <ul>
                    <a href="#">
                      <li>Sala 101</li>
                    </a>
                    <a href="#">
                      <li>Sala 102</li>
                    </a>
                    <a href="#">
                      <li>Sala 103</li>
                    </a>
                    <a href="#">
                      <li>Sala 104</li>
                    </a>
                    <a href="#">
                      <li>Sala 105</li>
                    </a>
                    <a href="#">
                      <li>Sala 106</li>
                    </a>
                    <a href="#">
                      <li>Sala 107</li>
                    </a>
                    <a href="#">
                      <li>Sala 108</li>
                    </a>
                    <a href="#">
                      <li>Sala 109</li>
                    </a>
                    <a href="#">
                      <li>Sala 110</li>
                    </a>
                  </ul>
                </div>
              </li>
              <li id="andar2"><a>Andar 2</a>
                <div class="dropSala2">
                  <ul>
                    <a href="#">
                      <li>Sala 201</li>
                    </a>
                    <a href="#">
                      <li>Sala 202</li>
                    </a>
                    <a href="#">
                      <li>Sala 203</li>
                    </a>
                    <a href="#">
                      <li>Sala 204</li>
                    </a>
                    <a href="#">
                      <li>Sala 205</li>
                    </a>
                    <a href="#">
                      <li>Sala 206</li>
                    </a>
                    <a href="#">
                      <li>Sala 207</li>
                    </a>
                    <a href="#">
                      <li>Sala 208</li>
                    </a>
                    <a href="#">
                      <li>Sala 209</li>
                    </a>
                    <a href="#">
                      <li>Sala 210</li>
                    </a>
                  </ul>
                </div>
              </li>
              <li id="andar3"><a>Andar 3</a>
                <div class="dropSala3">
                  <ul>
                    <a href="../sala-pequena/index.html">
                      <li>Sala 305</li>
                    </a>
                    <a href="#">
                      <li>Sala 302</li>
                    </a>
                    <a href="#">
                      <li>Sala 303</li>
                    </a>
                    <a href="#">
                      <li>Sala 304</li>
                    </a>
                    <a href="#">
                      <li>Sala 305</li>
                    </a>
                    <a href="#">
                      <li>Sala 306</li>
                    </a>
                    <a href="#">
                      <li>Sala 307</li>
                    </a>
                    <a href="#">
                      <li>Sala 308</li>
                    </a>
                    <a href="#">
                      <li>Sala 309</li>
                    </a>
                    <a href="#">
                      <li>Sala 310</li>
                    </a>
                  </ul>
                </div>
              </li>
              <li id="andar4"><a>Andar 4</a>
                <div class="dropSala4">
                  <ul>
                    <a href="../sala-grande/index.html">
                      <li>Sala 401</li>
                      <a href="#">
                        <li>Sala 402</li>
                      </a>
                      <a href="#">
                        <li>Sala 403</li>
                      </a>
                      <a href="#">
                        <li>Sala 404</li>
                      </a>
                      <a href="#">
                        <li>Sala 405</li>
                      </a>
                      <a href="#">
                        <li>Sala 406</li>
                      </a>
                      <a href="#">
                        <li>Sala 407</li>
                      </a>
                      <a href="#">
                        <li>Sala 408</li>
                      </a>
                      <a href="#">
                        <li>Sala 409</li>
                      </a>
                      <a href="#">
                        <li>Sala 410</li>
                      </a>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          </li>
      </nav>
      <div class="pc-prof">
        <span>Professor</span>
        <a href="../tela-abrir-chamado/index.html"><img src="{{url_for('static', filename='assets/pc.png')}}"
            alt="icon pc">
          <figcaption class="pro">{{pcs[0].sala}}{{pcs[0].numero}}</figcaption>
        </a>
      </div>

      <div class="fileira1">
        {% for x in range(1, 4) %}
        {% if not pcs[x] %}
        <div class="pc">
          <img src="{{url_for('static', filename='assets/pc-off.png')}}" alt="Sem computador">
        </div>
        {% else %}
        <a href="/abrir-chamado/{{pcs[x].idComputador}}" class="pc">
          <img src="{{url_for('static', filename='assets/pc.png')}}" alt="logo-pc">
          {{pcs[x].sala}}{{pcs[x].numero}}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="fileira">
        {% for x in range(4, 7) %}
        {% if not pcs[x] %}
        <div class="pc">
          <img src="{{url_for('static', filename='assets/pc-off.png')}}" alt="Sem computador">
        </div>
        {% else %}
        <a href="/abrir-chamado/{{pcs[x].idComputador}}" class="pc">
          <img src="{{url_for('static', filename='assets/pc.png')}}" alt="logo-pc">
          {{pcs[x].sala}}{{pcs[x].numero}}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="fileira1">
        {% for x in range(7, 10) %}
        {% if not pcs[x] %}
        <div class="pc">
          <img src="{{url_for('static', filename='assets/pc-off.png')}}" alt="Sem computador">
        </div>
        {% else %}
        <a href="/abrir-chamado/{{pcs[x].idComputador}}" class="pc">
          <img src="{{url_for('static', filename='assets/pc.png')}}" alt="logo-pc">
          {{pcs[x].sala}}{{pcs[x].numero}}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="fileira">
        {% for x in range(10, 13) %}
        {% if not pcs[x] %}
        <div class="pc">
          <img src="{{url_for('static', filename='assets/pc-off.png')}}" alt="Sem computador">
        </div>
        {% else %}
        <a href="/abrir-chamado/{{pcs[x].idComputador}}" class="pc">
          <img src="{{url_for('static', filename='assets/pc.png')}}" alt="logo-pc">
          {{pcs[x].sala}}{{pcs[x].numero}}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="fileira1">
        {% for x in range(13, 16) %}
        {% if not pcs[x] %}
        <div class="pc">
          <img src="{{url_for('static', filename='assets/pc-off.png')}}" alt="Sem computador">
        </div>
        {% else %}
        <a href="/abrir-chamado/{{pcs[x].idComputador}}" class="pc">
          <img src="{{url_for('static', filename='assets/pc.png')}}" alt="logo-pc">
          {{pcs[x].sala}}{{pcs[x].numero}}
        </a href="/abrir-chamado/{{pcs[x].idComputador}}">
        {% endif %}
        {% endfor %}
      </div>
      <div class="fileira">
        {% for x in range(16, 19) %}
        {% if not pcs[x] %}
        <div class="pc">
          <img src="{{url_for('static', filename='assets/pc-off.png')}}" alt="Sem computador">
        </div>
        {% else %}
        <a href="/abrir-chamado/{{pcs[x].idComputador}}" class="pc">
          <img src="{{url_for('static', filename='assets/pc.png')}}" alt="logo-pc">
          {{pcs[x].sala}}{{pcs[x].numero}}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="fileira1">
        {% for x in range(19, 22) %}
        {% if not pcs[x] %}
        <div class="pc">
          <img src="{{url_for('static', filename='assets/pc-off.png')}}" alt="Sem computador">
        </div>
        {% else %}
        <a href="/abrir-chamado/{{pcs[x].idComputador}}" class="pc">
          <img src="{{url_for('static', filename='assets/pc.png')}}" alt="logo-pc">
          {{pcs[x].sala}}{{pcs[x].numero}}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="fileira">
        {% for x in range(22, 25) %}
        {% if not pcs[x] %}
        <div class="pc">
          <img src="{{url_for('static', filename='assets/pc-off.png')}}" alt="Sem computador">
        </div>
        {% else %}
        <a href="/abrir-chamado/{{pcs[x].idComputador}}" class="pc">
          <img src="{{url_for('static', filename='assets/pc.png')}}" alt="logo-pc">
          {{pcs[x].sala}}{{pcs[x].numero}}
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <footer>
    <a href="#" class="logo">FATEC</a>
  </footer>
</body>

</html>