* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  background-size: 1920px 1080px;
  font-family: tahoma;
}
img {
  width: 67px;
}
.cinza {
  background-color: #e7e7e7;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.pcs {
  width: fit-content;
  background: #f1f1f1;
  border: solid 1px #f1f1f1;
  border-radius: 10px;
  padding: 1px;
  margin: 17px 0px;
  display: flex;
  justify-content: space-around;
  column-gap: 26px;
  padding-inline: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.prof {
  background-color: #f1f1f1;
  width: fit-content;
  margin-left: 150px;
  border-radius: 10px;
  padding: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 20px;
  grid-column: 1 / span 2;
  column-gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
header {
  margin: 0;
  height: 60px;
}

.computadores {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 30px;
}
.pc {
  margin-top: 10px;
}
.computadores a:hover,
a:visited {
  background-color: #ccc;
  color: inherit;
  border-radius: 4px;
}
.prof a:hover,
a:visited {
  background-color: #ccc;
  color: inherit;
  border-radius: 4px;
}
.computadores a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  align-items: center;
}
.prof a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background: #f1f1f1;
  text-align: center;
  grid-column: 1 / -1;
  display: flex;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 4px 6px 15px;
}

.navbar {
  justify-content: flex-end;
}

#andar {
  border-left: 0.1px solid #00000080;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  width: 120px;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

nav ul li a {
  cursor: pointer;
}

.dropAndares {
  display: none;
}

#andar:hover .dropAndares {
  display: block;
  position: absolute;
  background: #f7f7f7;
  margin-top: 15px;
  margin-left: -20px;
  border-radius: 5px;
}

#andar .dropAndares ul {
  display: block;
}

#andar .dropAndares ul li {
  text-align: center;
  transition: 0.4s;
}

#andar:hover .dropAndares ul li:hover {
  background-color: #ebebeb;
}

nav ul #andar:hover {
  background: #ebebeb;
  transition: 0.4s;
}

.dropSala4 {
  display: none;
}

#andar4:hover .dropSala4 {
  display: block;
  position: absolute;
  background: #f7f7f7;
  margin-top: -79px;
  margin-left: 100px;
  border-radius: 5px;
}

#andar4:hover .dropSala4 ul {
  display: block;
}

#andar4:hover .dropSala4 ul li {
  text-align: center;
  transition: 0.4s;
}

#andar4:hover .dropSala4 ul li:hover {
  background: #ebebeb;
}

nav ul #andar1:hover {
  background: #ebebeb;
  transition: 0.4s;
}

.dropSala1 {
  display: none;
}

#andar1:hover .dropSala1 {
  display: block;
  position: absolute;
  background: #f7f7f7;
  margin-top: -20px;
  margin-left: 100px;
  border-radius: 5px;
}

.dropSala2 {
  display: none;
}

#andar2:hover .dropSala2 {
  display: block;
  position: absolute;
  background: #f7f7f7;
  margin-top: -20px;
  margin-left: 100px;
  border-radius: 5px;
}

.dropSala3 {
  display: none;
}

#andar3:hover .dropSala3 {
  display: block;
  position: absolute;
  background: #f7f7f7;
  margin-top: -20px;
  margin-left: 100px;
  border-radius: 5px;
}
