*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Sen", sans-serif;
  background-color: #a8bafe;
  align-items: center;
  padding: 1rem 4rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  max-width: 100%;
  flex-wrap: wrap;
  height: fit-content;
}

header li {
  color: #fff;
  font-weight: bold;
}

header a {
  text-decoration: none;
}

.logo {
  grid-column: 1;
  text-shadow: 5px 0px #182d7b;
  font-size: 36pt;
  font-family: "Roboto", sans-serif;
  color: #fff;
  grid-row: 1;
  font-weight: bolder;
  margin: 0;
  max-height: 57px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.25;
}

.nave {
  display: flex;
}

.nave ul {
  list-style: none;
  display: inline-flex;
  gap: 5rem;
  padding: 0;
  margin: 0;
}

.nave a {
  font-size: 15pt;
}

.login {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  grid-row: 1;
  font-weight: bold;
}

.login .btn1 {
  background-color: #fff;
  color: #182d7b;
  padding: 0.7rem 2.6rem;
  border-radius: 10px;
  font-size: 15pt;
  max-height: 46.44px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  align-items: center;
}

.login .btn2 {
  background-color: #182d7b;
  color: #fff;
  border: solid 2px #182d7b;
  padding: 0.67rem 2rem;
  border-radius: 10px;
  font-size: 13pt;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  max-height: 46.44px;
  display: flex;
  align-items: center;
}

.nave li:hover {
  color: #011457;
  transition: 0.2s;
  font-weight: bold;
}

.login .btn1:hover {
  border-color: #182d7b;
  background-color: #182d7b;
  color: #fff;
  transition: 0.2s;
}

.login .btn2:hover {
  background-color: #fff;
  border-color: #182d7b;
  color: #182d7b;
  transition: 0.2s;
}

.inicio {
  position: relative;
}

.inicio::before {
  display: none;
  transform: translateX(-50%);
  border-radius: 100%;
  position: absolute;
  background: #011457;
  bottom: -10px;
  height: 6px;
  content: " ";
  width: 6px;
  left: 50%;
}

.inicio:hover::before {
  display: block;
}

.chamados {
  position: relative;
}

.chamados:hover::before {
  transform: translateX(-50%);
  border-radius: 100%;
  position: absolute;
  background: #011457;
  bottom: -10px;
  height: 6px;
  content: " ";
  width: 6px;
  left: 50%;
  transition: 0.2s;
}

.contato {
  position: relative;
}

.contato:hover::before {
  transform: translateX(-50%);
  border-radius: 100%;
  position: absolute;
  background: #011457;
  bottom: -10px;
  height: 6px;
  content: " ";
  width: 6px;
  left: 50%;
  transition: 0.2s;
}

@media (max-width: 1007px) {
  header {
    justify-content: space-around;
    gap: 20px;
  }
}

@media (max-width: 458px) {
  .nave a {
    font-size: 12pt;
  }
  .login .btn1 {
    font-size: 12pt;
    padding: 0.5rem 2rem;
  }
  .login .btn2 {
    font-size: 12pt;
    padding: 0.5rem 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
