* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  margin: auto;
  background-color: #e7e7e7;
}

.logo {
  width: 115px;
}

.button_header {
  display: flex;
  gap: 50px;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}
