header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0;
  background-color: #e7e7e7;
  font-family: tahoma;
}

.logo {
  width: 8rem;
  margin-left: 5rem;
}

.button_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.head a:visited {
  color: inherit;
}

.head a {
  text-decoration: none;
  font-size: 14pt;
}

.button_header  a {
  height: 4rem;
  /* border-right: solid 1px #979797;
  border-left: solid 1px #979797; */
  padding-inline: 2.5rem;
  display: flex;
  align-items: center;
}

.button_header a:hover {
  background: rgb(211, 208, 208);
  transition: 0.2s;
}

#contato {
  border-right: none;
}
