<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/contato/style.css">
  <link rel="stylesheet" href="../../static/header/style.css">
  <link rel="stylesheet" href="../../static/footer/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  <header>
    <a href=" ../home/index.html">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nave">
      <ul>
        <a href="/">
          <li>Início</li>
        </a>
        <a href="/chamados">
          <li>Chamados</li>
        </a>
        <a href="#">
          <li>Contato</li>
        </a>
      </ul>
    </nav>
  </header>
  <div class="div">
    <h3 class="con">Entre em contato com o suporte</h3>
    <div class="tr"></div>
    <label for="Assunto" class="as">
      <p>Assunto:</p>
      <input type="email" name="email" id="email">
    </label>
    <br>
    <label for="comment" class="com">
      <p>Descrição:</p>
      <textarea name="comment" id="comment" cols="40" rows="8"></textarea>
      <a href="#" class="btn">Enviar</a>
    </label>

    <input name="_formsubmit_id" type="text" style="display:none">
  </div>
  </form>
  </main>
</body>
<footer>
  <a href="#" class="logo">FATEC</a>
</footer>

</html>