<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/contato/style.css">
  <link rel="stylesheet" href="../../static/header/style.css">
  <link rel="stylesheet" href="../../static/footer/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  <header>
    <a href="/">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nave">
      <ul>
        <a href="/" class="inicio">
          <li>Início</li>
        </a>
        <a href="/chamados" class="chamados">
          <li>Chamados</li>
        </a>
        <a href="/contato" class="contato">
          <li>Contato</li>
        </a>
      </ul>
    </nav>
    <div class="login">
      {% if session['categoria'] == "admin" %}
      <a href="/usuarios" class="btn1">Usuários</a>
      <a href="/logout" class="btn2">Sair</a>
      {% elif session['logged'] %}
      <a href="/meus_chamados" class="btn1">Meus chamados</a>
      <a href="/logout" class="btn2">Sair</a>
      {% else %}
      <a href="/login" class="btn1">Entrar</a>
      <a href="/cadastro" class="btn2">Registrar-se</a>
      {% endif %}
    </div>
  </header>
  
  <div class="div">
    <h3 class="con">Entre em contato com o suporte</h3>
    <div class="tr"></div><br>
    <form action="https://formsubmit.co/wedevtm@gmail.com" method="POST">
      <label class="as" for="name">Assunto</label>
      <input class="box1" type="text" name="name" id="assunto" required autocomplete="off">
      <label class="com" for="name">E-mail</label>
      <input class="box3" type="email" name="email" id="descrição" required>
      <label class="com" for="name">Descrição</label>
      <textarea class="box2" type="text" name="descrição" id="descrição" required> </textarea>
      <input type="hidden" name="_captcha" value="false">
  </div>
  <button class="btn" type="submit">Enviar</button>
  </form>
  </main>
</body>
<footer>
  <a href="/" class="logo">FATEC</a>
</footer>

</html>