<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/contato/style.css">
  <link rel="stylesheet" href="../../static/header/style.css">
  <link rel="stylesheet" href="../../static/footer/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  <header>
    <a href=" ../home/index.html">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nave">
      <ul>
        <a href="/">
          <li>Início</li>
        </a>
        <a href="/chamados">
          <li>Chamados</li>
        </a>
        <a href="#">
          <li>Contato</li>
        </a>
      </ul>
    </nav>
  </header>
  <div class="div">
    <h3 class="con">Entre em contato com o suporte</h3>
    <div class="tr"></div><br>
    <form action="https://formsubmit.co/wedevtm@gmail.com" method="POST">
      <label class="as" for="name">Assunto</label>
      <input class="box1" type="text" name="name" id="assunto" required><br>
      <label class="com" for="name">Descrição</label>
      <input class="box2" type="email" name="email" id="descrição" required>
      <input type="hidden" name="_captcha" value="false">
  </div>
  <button class="btn" type="submit">Enviar</button>
  </form>
  </main>
</body>
<footer>
  <a href="#" class="logo">FATEC</a>
</footer>

</html>