<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sala pequena</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="../header/style.css">
  <script src="script.js"></script>
</head>

<body>
  <header>
    <a href="../home/index.html">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nav">
      <ul>
        <a href="../home/index.html">
          <li>Início</li>
        </a>
        <a href="#">
          <li>Chamados</li>
        </a>
        <a href="#">
          <li>Contato</li>
        </a>
      </ul>
    </nav>

    <div class="login">
      <a href="#" class="btn1">Entrar</a>
      <a href="#" class="btn2">Registrar-se</a>
    </div>
  </header>

  <div class="container">
    <div class="layout-pcs">
      <nav class="navbar">
        <a class="voltar" href="" id="avoltar"><img src="../../img/voltar.png" alt="">Voltar</a>
        <ul class="lista-nav">
          <li id="andar"> <a href="#">Andares</a>
            <div class="dropAndares">
              <ul>
                <li><a>Térreo</a></li>
                <li id="andar1"><a>Andar 1</a>
                  <div class="dropSala1">
                    <ul>
                      <li><a>Sala 101</a></li>
                      <li><a>Sala 102</a></li>
                      <li><a>Sala 103</a></li>
                      <li><a>Sala 104</a></li>
                      <li><a>Sala 105</a></li>
                      <li><a>Sala 106</a></li>
                      <li><a>Sala 107</a></li>
                      <li><a>Sala 108</a></li>
                      <li><a>Sala 109</a></li>
                      <li><a>Sala 110</a></li>
                    </ul>
                  </div>
                </li>
                <li id="andar2"><a>Andar 2</a>
                  <div class="dropSala2">
                    <ul>
                      <li><a>Sala 201</a></li>
                      <li><a>Sala 202</a></li>
                      <li><a>Sala 203</a></li>
                      <li><a>Sala 204</a></li>
                      <li><a>Sala 205</a></li>
                      <li><a>Sala 206</a></li>
                      <li><a>Sala 207</a></li>
                      <li><a>Sala 208</a></li>
                      <li><a>Sala 209</a></li>
                      <li><a>Sala 210</a></li>
                    </ul>
                  </div>
                </li>
                <li id="andar3"><a>Andar 3</a>
                  <div class="dropSala3">
                    <ul>
                      <li><a href="../sala-pequena/index.html">Sala 305</a></li>
                      <li><a>Sala 302</a></li>
                      <li><a>Sala 303</a></li>
                      <li><a>Sala 304</a></li>
                      <li><a>Sala 305</a></li>
                      <li><a>Sala 306</a></li>
                      <li><a>Sala 307</a></li>
                      <li><a>Sala 308</a></li>
                      <li><a>Sala 309</a></li>
                      <li><a>Sala 310</a></li>
                    </ul>
                  </div>
                </li>
                <li id="andar4"><a>Andar 4</a>
                  <div class="dropSala4">
                    <ul>
                      <li><a href="../sala-grande/index.html">Sala 401</a></li>
                      <li><a>Sala 402</a></li>
                      <li><a>Sala 403</a></li>
                      <li><a>Sala 404</a></li>
                      <li><a>Sala 405</a></li>
                      <li><a>Sala 406</a></li>
                      <li><a>Sala 407</a></li>
                      <li><a>Sala 408</a></li>
                      <li><a>Sala 409</a></li>
                      <li><a>Sala 410</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
      </nav>

      <div class="pc-prof">
        <span>Professor</span>
        <a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="icon pc">
          <figcaption class="leg-prof">30500</figcaption>
        </a>
      </div>

      <div class="fileira1">
        <ul>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30501</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30502</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30503</figcaption>
            </a>
          </li>
        </ul>
      </div>

      <div class="fileira2">
        <ul>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30504</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30505</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30506</figcaption>
            </a>
          </li>
        </ul>
      </div>

      <div class="fileira3">
        <ul>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30507</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30508</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30509</figcaption>
            </a>
          </li>
        </ul>
      </div>

      <div class="fileira4">
        <ul>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30510</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30511</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30512</figcaption>
            </a>
          </li>
        </ul>
      </div>

      <div class="fileira5">
        <ul>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30513</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30514</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30515</figcaption>
            </a>
          </li>
        </ul>
      </div>

      <div class="fileira6">
        <ul>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30516</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30518</figcaption>
            </a>
          </li>
          <li><a href="../tela-abrir-chamado/index.html"><img src="../../img/pc.png" alt="logo-pc">
              <figcaption>30519</figcaption>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</body>

</html>