<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.png')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='usuarios/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='header/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='footer/style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
  <title>Usuários</title>
</head>

<body>
  <header>
    <a href="/">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nave">
      <ul>
        <a href="/" class="inicio">
          <li>Início</li>
        </a>
        <a href="/chamados" class="chamados">
          <li>Chamados</li>
        </a>
        <a href="#" class="contato">
          <li>Contato</li>
        </a>
      </ul>
    </nav>

    <div class="login">
      <a href="#" class="btn1">Entrar</a>
      <a href="#" class="btn2">Registrar-se</a>
  </header>

  <main>
    <nav class="nav-search">
      <div class="search">
        <img src="../../static/assets/Lupa.svg" alt="lupa">
        <input type="search" name="pesquisar" id="pesquisar" placeholder="Pesquisar">
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Tipo
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Professor</a></li>
          <li><a class="dropdown-item" href="#">Aluno</a></li>
          <li><a class="dropdown-item" href="#">Turma</a></li>
          <li><a class="dropdown-item" href="#">Chamados</a></li>
          <li><a class="dropdown-item" href="#">Nome</a></li>
        </ul>
      </div>
    </nav>

    <div class="aluno">
      <div class="foto"><img src="../../static/assets/user.svg" alt="user" width="51px"></div>
      <div class="info">
        <p>Nome: Phelipe Pinheiro da Silva</p>
        <p>Turma: Análise e Desenvolvimento de sistemas 1 Semestre</p>
        <p>Chamados: 4</p>
      </div>
      <div class="edit"><a href="#"><img src="../../static/assets/pencil-solid.svg" alt="lapis" width="26px"></a></div>
    </div>
  </main>

  <footer>
    <a href="#" class="logo">FATEC</a>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>