<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.png')}}">
  <script src="https://kit.fontawesome.com/00b11d72aa.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='usuarios/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='header/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='footer/style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
  <script src="{{url_for('static', filename='usuarios/script.js')}}"></script>
  <title>Usuários</title>
</head>

<body>
  <header>
    <a href="/">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nave">
      <ul>
        <a href="/" class="inicio">
          <li>Início</li>
        </a>
        <a href="/chamados" class="chamados">
          <li>Chamados</li>
        </a>
        <a href="/contato" class="contato">
          <li>Contato</li>
        </a>
      </ul>
    </nav>
    <div class="login">
      {% if session['categoria'] == "admin" %}
      <a href="/usuarios" class="btn1">Usuários</a>
      <a href="/logout" class="btn2">Sair</a>
      {% elif session['logged'] %}
      <a href="/meus_chamados" class="btn1">Meus chamados</a>
      <a href="/logout" class="btn2">Sair</a>
      {% else %}
      <a href="/login" class="btn1">Entrar</a>
      <a href="/cadastro" class="btn2">Registrar-se</a>
      {% endif %}
    </div>
  </header>

  <main>
    <nav class="nav-search">
      <div class="search">
        <img src="{{url_for('static', filename='assets/Lupa.svg')}}" alt="lupa">
        <input type="search" name="pesquisar" id="pesquisar" placeholder="Pesquisar">
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Tipo
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Professor</a></li>
          <li><a class="dropdown-item" href="#">Aluno</a></li>
          <li><a class="dropdown-item" href="#">Turma</a></li>
          <li><a class="dropdown-item" href="#">Chamados</a></li>
          <li><a class="dropdown-item" href="#">Nome</a></li>
        </ul>
      </div>
    </nav>
    {% set count = namespace(value=1) %}
    {% for user in users %}
    <form name="formulario" action="/usuarios/edit/{{user.id_usuario}}" method="POST" class="aluno">
      <div class="foto"><img src="{{url_for('static', filename='assets/user.svg')}}" alt="user" width="51px"></div>
      <div class="info">
        <label for="name{{count.value}}">
          Nome:
          <input id="name{{count.value}}" type="text" name="name" disabled value="{{user.nome}}" />
        </label>
        <label for="turma{{count.value}}">
          Email:
          <input id="turma{{count.value}}" type="text" name="turma" disabled value="{{user.turma}}" />
        </label>
        <label for="chamados{{count.value}}">
          Chamados:
          <input id="chamados{{count.value}}" type="text" name="chamados" disabled value="{{user.count_chamados}}" />
        </label>
      </div>
      <div class="edit">
        <button id="iconEdit{{count.value}}" onclick="edit(event,'{{count.value}}')">
          <img src="{{url_for('static', filename='assets/pencil-solid.svg')}}" alt="lapis" width="26px">
        </button>

          <button class="trash" id="iconTrash{{count.value}}" onclick="edit(event,'{{count.value}}')">
            <i class="fa-solid fa-trash fa-2xl"></i>
          </button>
          <div id="btn-edit{{count.value}}" class="btn-edit">
            <input type="submit" onclick="edit(event,'{{count.value}}')" value="Cancelar" class="sub">
            <input type="submit" value="Salvar" class="sub">
          </div>
      </div>
    </form>
    {% set count.value = count.value + 1 %}
    {% endfor %}

    <!-- <form name="formulario" action="/" method="POST" class="aluno">
      <div class="foto"><img src="{{url_for('static', filename='assets/user.svg')}}" alt="user" width="51px"></div>
      <div class="info">
        <label for="name">
          Nome:
          <input id="name1" type="text" name="name" />
        </label>
        <label for="turma">
          Email:
          <input id="turma1" type="text" name="turma" />
        </label>
        <label for="chamados">
          Chamados:
          <input id="chamados1" type="text" name="chamados" />
        </label>
      </div>
      <div class="edit">
        <button onclick="edit(event)">
          <i class="fa-solid fa-trash fa-2xl"></i>
        </button>
        <div class="btn-edit">
          <input type="submit" value="Cancelar" class="sub">
          <input type="submit" value="Salvar" class="sub">
        </div>
      </div>
    </form> -->
  </main>

  <footer>
    <a href="#" class="logo">FATEC</a>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>