* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.sec1 {
  background-color: #a8bafe;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: space-between;
  padding: 4rem;
  align-items: center;
  max-width: 100%;
}

.info1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 7rem;
}

.info1 h1 {
  font-size: 60pt;
  color: #182d7b;
  font-weight: bold;
}

.info1 p {
  color: #fff;
  max-width: 20rem;
  font-size: 15pt;
}

.info1 .btn2 {
  background-color: #fff;
  color: #a8bafe;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  font-size: 12pt;
  text-align: center;
  display: flex;
  align-items: center;
  border: solid transparent 2px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.btns {
  display: inline-flex;
  gap: 1.25rem;
}

.btns {
  width: 260px;
  overflow-wrap: break-word;
}

.btns a:hover, .btns button:hover {
  border-color: #011457;
  color: #011457;
  transition: 0.2s;
}

.info2 {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.info2 img {
  width: 85%;
}

.sec2 {
  max-width: 100%;
}

.sec3 {
  padding: 4rem;
}

.grid-details {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.sec3 h3 {
  font-size: 10pt;
  color: #3a3a3a;
}

.sec3 h2 {
  font-size: 22pt;
  font-weight: bolder;
  color: #3a3a3a;
}
.detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  padding: 1.5rem 3rem;
  max-width: 281px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img {
  border: solid 1px #b6b6b6;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.local {
  display: flex;
  gap: 7px;
  grid-column: 1;
}

.info-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-detail h5 {
  max-width: 140px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.info-detail p {
  max-width: 140px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.status-Aberto {
  background-color: #eb5757;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.status-Manutenção {
  background-color: #d4d011;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.status-Concluído {
  background-color: #1ba60f;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.detalhes {
  background-color: #011457;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  font-size: 14pt;
  border-radius: 10px;
  margin-top: 20px;
  border: 2px transparent solid;
}

.detalhes:hover {
  color: #011457;
  background-color: #fff;
  border-color: #011457;
}

footer {
  background-color: #a8bafe;
  padding: 20px;
}

footer a:hover {
  color: #fff;
}
/* ------carousel style------ */

.carousel-caption {
  text-align: start;
  bottom: 5rem;
  max-width: 300px;
  max-height: 400px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  background-color: rgba(255, 255, 255, 0.434);
  /* border-radius: 10px; */
  padding: 30px 20px;
  left: 12rem;
}

.carousel-caption p {
  font-size: 12pt;
  color: #3a3a3a;
  font-weight: 600;
}

.carousel {
  background-color: #a8bbfe6b;
}

.img-carrosel {
  margin: auto;
  width: 900px;
}

.carousel-caption h2 {
  font-size: 24pt;
  color: #3a3a3a;
  font-weight: 900;
}

.carousel-caption a {
  background-color: #011457;
  padding: 0.4rem 1rem;
  border: solid 2px transparent;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  font-size: 12pt;
  font-weight: bold;
}

.carousel-caption a:hover {
  border-color: #011457;
  background-color: #fff;
  color: #011457;
  transition: 0.3s;
}

.carousel-control-next,
.carousel-control-prev {
  width: 12%;
}

/* ---------- responsividade --------- */

@media (max-width: 1313px) {
  .sec1 {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 885px) {
  .sec1 img {
    display: none;
  }
  .sec2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .info1 {
    margin: 0;
  }
  .sec1 {
    padding: 1rem;
  }
  .sec2 {
    display: none;
  }
}

@media (min-width: 1380px) {
  .img-carrosel {
    margin: auto;
    width: 1200px;
    object-fit: fill;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 10%;
  }
}
@media (min-width: 1669px) {
  .img-carrosel {
    margin: auto;
    width: 1350px;
    object-fit: fill;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 10%;
  }
}

@media (min-width: 1900px) {
  .img-carrosel {
    margin: auto;
    width: 1600px;
    object-fit: fill;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 8%;
  }
}

@media (max-width: 1024px) {
  .img-carrosel {
    margin: auto;
    width: 800px;
    object-fit: fill;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 10%;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}