* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.sec1 {
  background-color: #a8bafe;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: space-between;
  padding: 4rem;
  align-items: center;
  max-width: 100%;
}

.info1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 7rem;
}

.info1 h1 {
  font-size: 60pt;
  color: #182d7b;
  font-weight: bold;
}

.info1 p {
  color: #fff;
  max-width: 20rem;
  font-size: 15pt;
}

.info1 .btn2 {
  background-color: #fff;
  color: #a8bafe;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  font-size: 12pt;
  text-align: center;
  display: flex;
  align-items: center;
  border: solid transparent 2px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.btns {
  display: inline-flex;
  gap: 1.25rem;
}

.btns {
  width: 260px;
  overflow-wrap: break-word;
}

.btns a:hover {
  border-color: #0429a9;
  color: #0429a9;
  transition: 0.2s;
}

.info2 {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.info2 img {
  width: 85%;
}

.sec2 {
  max-width: 100%;
}

.sec3 {
  padding: 4rem;
}

.grid-details {
  display: flex;
  margin-top: 40px;
}

.sec3 h3 {
  font-size: 10pt;
  color: #3a3a3a;
}

.sec3 h2 {
  font-size: 22pt;
  font-weight: bolder;
  color: #3a3a3a;
}
.detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  padding: 1.5rem 3rem;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img {
  border: solid 1px #b6b6b6;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.local {
  display: flex;
  gap: 7px;
  grid-column: 1;
}

.info-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  background-color: #eb5757;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

footer {
  background-color: #a8bafe;
  padding: 20px;
}
/* ------carousel style------ */

.carousel-caption {
  text-align: start;
  bottom: 9.25rem;
  color: fff(169, 13, 13);
  max-width: 300px;
  max-height: 400px;
}

.carousel-caption p {
  font-size: 12pt;
}

.carousel-caption h1 {
  font-size: 15pt;
}

.carousel-caption a {
  background-color: #0429a9;
  padding: 0.6rem 1.3rem;
  border: solid 2px transparent;
  border-radius: 10px;
  font-size: 12pt;
  font-weight: bold;
}

.carousel-caption a:hover {
  border-color: #0429a9;
  background-color: #fff;
  color: #0429a9;
  transition: 0.3s;
}

/* ---------- responsividade --------- */

@media (max-width: 1313px) {
  .sec1 {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 885px) {
  .sec1 img {
    display: none;
  }
  .sec2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .info1 {
    margin: 0;
  }
  .sec1 {
    padding: 1rem;
  }
  .sec2 {
    display: none;
  }
}
