* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #555;
  height: 100vh;
  width: 100vw;
}

main {
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
  gap: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card label {
  text-align: center;
  display: flex;
  gap: 2rem;
}

.card label a:visited {
  color: inherit;
}

.card label h2 {
  font-size: 32px;
}

.card label span {
  font-size: 20px;
}

.card img {
  width: 128px;
}

.but {
  text-decoration: none;
  padding: 10px;
  background-color: #07185a;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #07185a;
  transition: 0.2s;
}
.but:hover {
  background-color: white;
  border: 1px solid #07185a;
  color: #07185a;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h2 {
  color: #07185a;
}
.x {
  position: absolute;
  right: 43.5rem;
  top: 22.2rem;
  color: #07185a;
}
