* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
  background: #fff;
  display: flex;
  flex-direction: column;
}

#container {
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}
.tela-detalhes {
  display: flex;
  padding: 0.4rem;
  align-items: center;
  margin-left: 1%;
}
.tela-detalhes img {
  width: 80px;
}

.tela-detalhes ul {
  list-style: none;
}

#detalhes-1 li {
  text-transform: capitalize;
  font-weight: bold;
  padding: 3px;
  margin-left: -20%;
}

#detalhes-2 li {
  color: rgb(87, 85, 85);
  padding: 3px;
}
.tela-detalhes img {
  width: 5rem;
}
.tela-detalhes ul {
  list-style: none;
}
#detalhes-1 li {
  text-transform: capitalize;
  font-weight: bold;
}
#detalhes-2 li {
  color: rgb(87, 85, 85);
  font-weight: bold;
}

#icon-pc {
  display: flex;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10%;
  margin: 2% 10% 3% 4%;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.h3 {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

.form > input {
  border-radius: 5px;
  width: 50%;
  border: none;
  padding: 10px;
  background-color: white;
  font-size: medium;
  outline: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.categoria {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.categoria > label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.notif {
  cursor: pointer;
  margin-bottom: 10px;
}

#email {
  display: none;
}

.enviar {
  padding: 10px !important;
  width: 10% !important;
  align-self: flex-start;
  margin-top: 20px;
  background-color: #182d7b !important;
  color: white !important;
  cursor: pointer;
}

.voltar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.voltar img {
  width: 17px;
}

.modal {
  position: absolute;
  background-color: rgba(27, 27, 27, 0.753);
  width: 100%;
  height: 120vh;
  display: none;
}

.card {
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card > h1 {
  font-size: 20px;
  border-bottom: 1px solid gray;
}

.card > p {
  width: 100%;
  margin: 10px;
}

.button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.button > button {
  padding-block: 10px;
  border-radius: 5px;
  border: none;
  width: 70px;
  color: white;
  background-color: rgb(84, 138, 253);
}

.button > button:hover {
  background-color: rgb(71, 121, 231);
}

.button > button:active {
  border: 1px solid black;
  padding-block: 9px;
}

/* progress bar */

.step-wizard {
  margin: auto;
  max-width: max-content;
}

.step-wizard-list {
  background: #fff;
  color: #000;
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  padding: 20px 10px;
  position: relative;
  z-index: 10;
  margin-top: 6rem;
}

.step-wizard-item {
  padding: 0px 20px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 100px;
  position: relative;
}
.step-wizard-item + .step-wizard-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 19px;
  background: #182d7b;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  z-index: -10;
}
.progress-count {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 500;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: #182d7b;
}
.progress-count:after {
  content: "";
  height: 40px;
  width: 40px;
  background: #fff;
  border: 2px solid #182d7b;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -10;
}

.progress-label {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before {
  display: none;
}

.current-item .progress-count:after {
  background: #182d7b;
  border: 2px solid #182d7b;
}
.current-item .progress-count {
  color: #ffffff;
}

svg {
  color: red;
  width: 20px;
  height: 20px;
}

.modal-header {
  gap: 10px;
}

.nav-voltar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  margin: 20px;
}
i {
  color: #182d7b;
}

i:hover {
  color: #0c1537;
}
