* {padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{font-family: "Sen", sans-serif;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;}

main{
    background-color: #ffffff;
    border-style: solid;
    border-radius: 20 px;
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 15%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(230, 230, 230) ;
    border-radius: 20px;
    padding-left: 20px;
    
    
}
.conteudo{
    display: flex;
    margin-right: 3px;
}


#pc_logo {
    margin-top: 4%;
    margin-right: 1%;
    margin-left: 1%;
}

#pc_logo img {
    height: 160px;
    width:  160px;
    border-width: 0.2px;
    border-color: rgb(235, 235, 235);
    border-radius:10px ;
    display: block;
}

#windows_edition {
    display: block;
    margin-top: 5%;
    width: 70%;
}
#windows_edition ul {
    list-style: none;
    margin-left: 7%;
}

#windows_edition li {
    padding: 5px;
}

.conteudo h3{
    margin-left: 4%;
    margin-top: 3%;
}

#especificacoes{
    width:90%;
}

.colunas{
    display: flex;
    margin-left: 8%;
}

.colunas2{
    display: flex;
    margin-top: 20px;
}

.coluna1 {
    list-style: none;
    display: flexbox;
    font-size: medium;
    width: 40%;
}
.coluna2 {
    list-style: none;
    display: flexbox;
    font-size: medium;

}
.coluna1 li {
    margin-top: 15px;
}
.coluna2 li {
    color: rgba(83, 82, 82, 0.849);
    text-decoration: none;
    margin-top: 15px;
}
 
 #botao button:hover{
    color:  #182d7b;
    background-color: white;
    border-style: ridge;
    border-color: #182d7b;
 }
 
#botao button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border-style: inherit;
    color: white;
    margin-top: 2%;
    margin-left:95%;
    margin-bottom: 30px;
    background-color: #182d7b;
    display: block;
}
  
  #botao > button:active {
    transition: 0.2s;
    border: 1px solid black;
    padding-block: 9px;
  }

  .input_ input {
    width: 90%;
    text-align: justify;
    text-indent: 8px;
  }
