<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../header/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sen:wght@400;700&display=swap" rel="stylesheet">
    <title>Fachada</title>
</head>

<body>

    <header>
        <a href="../home/index.html">
            <h1 class="logo">FATEC</h1>
        </a>

        <nav class="nav">
            <ul>
                <a href="../home/index.html">
                    <li>Início</li>
                </a>
                <a href="#">
                    <li>Chamados</li>
                </a>
                <a href="#">
                    <li>Contato</li>
                </a>
            </ul>
        </nav>

        <div class="login">
            <a href="#" class="btn1">Entrar</a>
            <a href="#" class="btn2">Registrar-se</a>
        </div>
    </header>
    <main>


        <div class="grid">

            <div class="andares1">

                <a href="../pisos/index.html?piso=4" class="btn">Quarto andar</a>
                <a href="../pisos/index.html?piso=3" class="btn">Terceiro andar</a>
                <a href="../pisos/index.html?piso=2" class="btn">Segundo andar</a>
                <a href="../pisos/index.html?piso=1" class="btn">Primeiro andar</a>
                <a href="#" class="btn">Térreo </a>

            </div>

            <a class="coluna"></a>

            <div class="andares2">

                <a href="../pisos/index.html?piso=4" class="btn3">4º</a>
                <a href="../pisos/index.html?piso=3" class="btn3">3º</a>
                <a href="../pisos/index.html?piso=2" class="btn3">2º</a>
                <a href="../pisos/index.html?piso=1" class="btn3">1º</a>
                <a href="#" class="btn3">T</a>

            </div>

        </div>
    </main>
</body>

</html>