<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='fachada/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='header/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sen:wght@400;700&display=swap" rel="stylesheet">
    <title>Fachada</title>
</head>

<body>

    <header>
        <a href="/">
            <h1 class="logo">FATEC</h1>
        </a>

        <nav class="nave">
            <ul>
                <a href="/">
                    <li>Início</li>
                </a>
                <a href="#">
                    <li>Chamados</li>
                </a>
                <a href="#">
                    <li>Contato</li>
                </a>
            </ul>
        </nav>

        <div class="login">
            <a href="#" class="btn1">Entrar</a>
            <a href="#" class="btn2">Registrar-se</a>
        </div>
    </header>
    <main>

        <section class="step-wizard">
            <ul class="step-wizard-list">
                <li class="step-wizard-item current-item">
                    <span class="progress-count">1</span>
                    <span class="progress-label">Selecione o andar</span>
                </li>
                <li class="step-wizard-item">
                    <span class="progress-count">2</span>
                    <span class="progress-label">Selecione a sala</span>
                </li>
                <li class="step-wizard-item">
                    <span class="progress-count">3</span>
                    <span class="progress-label">Selecione o computador a ser reportado</span>
                </li>
                <li class="step-wizard-item">
                    <span class="progress-count">4</span>
                    <span class="progress-label">Realize o chamado</span>
                </li>
            </ul>
        </section>

        <div class="grid">

            <div class="andares1">

                <a href="/piso/4" class="btn">Quarto andar</a>
                <a href="/piso/3" class="btn">Terceiro andar</a>
                <a href="/piso/2" class="btn">Segundo andar</a>
                <a href="/piso/1" class="btn">Primeiro andar</a>
                <a href="#" class="btn">Térreo </a>

            </div>

            <a class="coluna"></a>

            <div class="andares2">

                <a href="/piso" class="btn3">4º</a>
                <a href="/piso" class="btn3">3º</a>
                <a href="/piso" class="btn3">2º</a>
                <a href="/piso" class="btn3">1º</a>
                <a href="#" class="btn3">T</a>

            </div>

        </div>
    </main>
</body>

</html>