* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  justify-items: center;
  background: #fff;
  font-family: "Sen", sans-serif;
}

body {
  background: #fff;
}

a:visited {
  color: inherit;
}

.grid .btn {
  padding: 30px;
  width: 400px;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  text-decoration: none;
  border: 1px solid #bebebe;
  background: #fff;
  color: black;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  text-align: start;
  color: #182d7b;
}

.grid .btn3 {
  padding: 30px 60px;
  width: 40px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #bebebe;
  background: #fff;
  color: black;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  color: #182d7b;
}

.grid .btn:hover {
  background: #d1d1d1;
  transition: 0.4s;
}

.grid .btn:active {
  position: relative;
  box-shadow: none;
}

.grid .btn3:hover {
  background: #d1d1d1;
  transition: 0.4s;
}

.grid .btn3:active {
  position: relative;
  box-shadow: none;
}

.coluna {
  width: 80px;
  background-color: #182d7b;
  margin: 0;
}

.andares1 {
  max-width: 552px;
  display: flex;
  flex-direction: column;
  grid-column: 1;
  margin: 0;
}

.andares2 {
  max-width: 552px;
  display: flex;
  flex-direction: column;
  grid-column: 3;
  width: fit-content;
}

.azul {
  grid-column: 2;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: fit-content;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 15rem;
  font-size: 15pt;
}

.titulo {
  margin: 70px 100px 30px 0px;
}
