<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='header/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.png')}}">
   <link rel="stylesheet" href="{{url_for('static', filename= 'tela-detalhes-edit/style.css')}}">
    <title>Edição de detalhes</title>
</head>
<body>
    
    <header>
        <a href="/">
            <h1 class="logo">FATEC</h1>
        </a>

        <nav class="nave">
            <ul>
                <a href="/">
                    <li>Início</li>
                </a>
                <a href="/chamados">
                    <li>Chamados</li>
                </a>
                <a href="#">
                    <li>Contato</li>
                </a>
            </ul>
        </nav>

        <div class="login">
            <a href="#" class="btn1">Entrar</a>
            <a href="#" class="btn2">Registrar-se</a>
        </div>
    </header>

    <main>
        <div class="conteudo">
            <div id="logo-win">
                <img src="../../static/assets/logo-windows.png" alt="">
            </div>
            <div id='versão-win'>
                <h3>Versão do Windows <hr></h3>
                <ul>
                    <li>Windows 10 Education</li>
                    <li>Copyright c 2014 Microsoft Corporation. All rights reserved. </li>
                    <li>Service pack 2</li>
                </ul>
            </div>
        </div>

        <div class="conteudo">
            <div id="conteudo"></div>
            <h3>Sistema <hr></h3>
            <div id="coluna">
                <ul id="coluna1">
                    <li>Nome do dispositivo</li>
                    <li>Processador</li>
                    <li>RAM instalada</li>
                    <li>Tipo de Sistema</li>
                    <li>Endereço</li>
                </ul>
                <ul id="coluna2">
                    <li>DESKTOP-VJNCDEO</li>
                    <li>{{comp.processador}}</li>
                    <li><input type="text"></li>
                    <li>Sistema operacional de {{comp.tipo_sis}} bits</li>
                    <li>endereço</li>
                </ul>
            </div>
            <button>Salvar</button>
        </div>
    </main>
    
</body>
</html>