* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

body {
  background-color: #c8c8c80d;
  height: 100vh;
}

.flex {
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 1fr;
  margin: auto;
  margin-top: 150px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.lado {
  background-color: #a8bafe;
  font-family: "Sen", sans-serif;
  font-weight: lighter;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lado > h1 {
  padding-top: 40%;
  margin-bottom: 0%;
  font-size: 3.75rem;
  text-align: center;
  color: white;
}

.lado > p {
  margin-top: 1.25rem;
  font-size: 12pt;
  font-weight: lighter;
  width: 360px;
  text-align: center;
  color: white;
}

.cadastro {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  font-family: "Sen", sans-serif;
  font-weight: lighter;
  padding: 1rem 3rem;
}

.cadastro > h1 {
  color: #a8bafe;
  font-size: 3.43rem;
  width: 500px;
  padding: 6% 0% 0% 13%;
  margin-bottom: 0%;
}

.cadastro > p {
  font-size: 12pt;
  margin-bottom: 1%;
  padding-left: 19%;
  padding-top: 0.31rem;
}

.nome,
.email,
.senha,
.turma {
  outline: none;
  border: none;
  background-color: #eaeaea;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 300px;
}

.nm,
.em,
.sh,
.tm {
  padding: 0.25rem;
  outline: none;
  border: none;
  background-color: transparent;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  color: white;
  border: none;
  border-radius: 10px;
  margin-inline: auto;
  padding: 0.73rem 1.5rem;
  background-color: #07185a;
  width: 6.25rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

button:hover {
  background-color: #04002c;
  cursor: pointer;
}

.ja {
  text-decoration: none;
  font-size: 0.9375rem;
  text-align: center;
  margin-inline: auto;
  color: #07185a;
}

.voltar {
  text-decoration: none;
  font-size: 0.9375rem;
  text-align: center;
  margin-inline: auto;
  color: #07185a;
  margin-bottom: 40px;
}

.ja:hover {
  color: #04002c;
}

.input_container {
  position: relative;
}

i {
  color: #6c6c6c;
}

.logo {
  grid-column: 1;
  text-shadow: 5px 0px #182d7b;
  font-size: 36pt;
  font-family: "Roboto", sans-serif;
  color: #fff;
  grid-row: 1;
  font-weight: bolder;
  margin: 0;
  margin-left: 40px;
  max-height: 57px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.25;
}

header {
  background-color: #a8bafe;
  padding: 10px;
}

.alert {
  width: 300px;
  margin: auto;
  font-size: small;
  color: red;
}