html{
    overflow: hidden;
}

.container{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
    margin: 4% 0% 0% 16%;
    height: 34.375rem;
    width: 56.25rem;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #00000036;
}

.lado{
    background-color: #A8BAFE;
    font-family: "Sen", sans-serif;
    font-weight: lighter;
    border-radius: 10px 0px 0px 10px;
}

.lado > h1{
    padding-top: 40%;
    margin-bottom: 0%;
    font-size: 3.75rem;
    text-shadow: 1px 1px 3px #00000026;
    text-align: center;
    color: white;
}

.lado > p {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.cadastro{
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    font-family: "Sen", sans-serif;
    font-weight: lighter;
}

.cadastro > h1{
    color: #A8BAFE;
    font-size: 3.43rem;
    text-shadow: 1px 1px 1px #00000026;
    padding: 6% 0% 0% 13%;
    margin-bottom: 0%;
}

.cadastro > p{
    font-size: 1.18rem;
    margin-bottom: 1%;
    padding-left: 19%;
    padding-top: 0.31rem;
}

.nome,
.email,
.senha{
    margin-top: 5%;
    margin-left: 20%;
    height: 5%;
    outline: none;
    border: none;
    padding: 0.625rem 0.625rem;
    background-color: #EAEAEA;
    width: 16.8rem;
}

button{
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 0%;
    padding: 0.625rem 0.625rem;
    background-color: #07185A;
    width: 6.25rem;
}

button:hover{
    background-color: #04002c;
    cursor: pointer;
}

p > a{
    text-decoration: none;
    font-size: 0.9375rem;
    margin-left: 22%;
}

p > a:hover{
    color: #04002c;
}

.input_container{
    position: relative;
}
