*{
  margin: 0%;
  padding: 0;
  box-sizing: 0;
}

body{
  font-size: 15px;
  color: black;
}

main{
  background-color: gray;
  border-radius: 10px;
  width: 60%;
  overflow: hidden;
  border: 1px solid black;
  margin: auto;
}

.cima{
  display: flex;
}

.corredor{
  height: 70px;
}

.baixo{
  display: flex;
  padding-left: 0px;
}

.bloco{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 80px;
  width: 100%;
  text-align: center;
  padding: 40px 0px;
  background-color: white;
}

.escada{
  display: flex;
  align-items: center;
  height: 80px;
  text-align: center;
  padding: 40px 10px;
  border-radius: 10px;
}

a{
  text-decoration: none;
}

a:visited{
  color: inherit;
}

a:hover{
  color: #262626;
  text-decoration: underline;
  background-color: #595959;
}