body {
  font-family: Tahoma;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f7f7f7;
}

main {
  display: grid;
  justify-items: center;
}

a:visited {
  color: inherit;
}

.btn {
  padding: 30px 200px;
  width: 150px;
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #bebebe;
  background: #f1f1f1;
  color: black;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  text-align: center;
}

.btn2 {
  padding: 30px 60px;
  width: 40px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #bebebe;
  background: #f1f1f1;
  color: black;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.btn:hover {
  background: rgb(211, 208, 208);
  transition: 0.4s;
}

.btn:active {
  position: relative;
  box-shadow: none;
}

.btn2:hover {
  background: rgb(211, 208, 208);
  transition: 0.4s;
}

.btn2:active {
  position: relative;
  box-shadow: none;
}

.coluna {
  width: 80px;
  background-color: #004295;
  margin: 0;
}

.andares1 {
  max-width: 552px;
  display: flex;
  flex-direction: column;
  grid-column: 1;
  margin: 0;
}

.andares2 {
  max-width: 552px;
  display: flex;
  flex-direction: column;
  grid-column: 3;
  width: fit-content;
}

.azul {
  grid-column: 2;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: fit-content;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.titulo {
  margin: 70px 100px 30px 0px;
}
