<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/cadastro/style.css">
</head>
<body>
    <div class="container">
        <div class="lado">
            <h1>Cadastre-se</h1>
            <p>para abrir um novo chamado ou acessar chamados já existentes</p>
        </div>
        <form action="cadastro" method="POST" class="cadastro">
            <h1>crie sua conta</h1>
            <p>seu email institucional para registro:</p>
            <input class="nome" type="text" name="name" placeholder="digite seu nome">
            <input  class="email" type="email" name="email" placeholder="email">
            <input class="senha" type="password" name="password" placeholder="senha">
            <button>cadastrar</button>
            <p><a href="/login">já possuo uma conta</a></p>
        </form>
    </div>
</body>
</html>