<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.png')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{url_for('static', filename='footer/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='chamados/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='header/style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet" />
  <title>Chamados - Fatec</title>
</head>

<body>
  <header>
    <a href="../home/index.html">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nave">
      <ul>
        <a href="/">
          <li>Início</li>
        </a>
        <a href="/chamados">
          <li>Chamados</li>
        </a>
        <a href="#">
          <li>Contato</li>
        </a>
      </ul>
    </nav>

    <div class="login">
      <a href="#" class="btn1">Entrar</a>
      <a href="#" class="btn2">Registrar-se</a>
    </div>
  </header>
  <section class="container">
    <nav class="nav">
      <form action="/chamados" class="pesquisa">
        <img src="{{url_for('static', filename='assets/lupa.svg')}}" alt="lupa" class="lupa" />
        <input type="search" name="search" id="pes" placeholder="Pesquisar pelo titulo" />
        <input type="submit" hidden />
      </form>

      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Status
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/chamados?status=aberto">Em aberto</a></li>
          <li><a class="dropdown-item" href="/chamados?status=manutencao">Manutenção</a></li>
          <li><a class="dropdown-item" href="/chamados?status=concluido">concluído</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Categoria
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/chamados?categoria=software">Software</a></li>
          <li><a class="dropdown-item" href="/chamados?categoria=hardware">Hardware</a></li>
          <li><a class="dropdown-item" href="/chamados?categoria=rede">Rede</a></li>
        </ul>
      </div>
      <a href="/limpar" class="limpar">
        <img src="{{url_for('static', filename='assets/lixo.svg')}}" alt="limpar filtro">
      </a>
    </nav>
    <section class="cards">
      {% set count = namespace(value=1) %}
      {% for chamado in chamados %}
      <div class="div" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
        onclick="modal('{{count.value}}')">
        <h3 id="status{{count.value}}" class="{{chamado.status}}">{{chamado.status}}</h3>
        <div>
          <h2 id="title{{count.value}}" class="titulo">{{chamado.titulo}}</h2>
          <h6 id="data{{count.value}}" class="data">{{chamado.data}}</h6>
        </div>
        <p id="desc{{count.value}}" class="tx">
          {{chamado.desc_chamado}}
        </p>
        <div>
          <h3 class="ti">Categoria</h3>
          <h6 id="cat{{count.value}}" class="cod">{{chamado.categoria}}</h6>
        </div>
        <div>
          <h3 class="ti">Código</h3>
          {% if not chamado.cod_erro %}
          <h6 id="erro{{count.value}}" class="cod">nenhum</h6>
          {% else %}
          <h6 id="erro{{count.value}}" class="cod">{{chamado.cod_erro}}</h6>
          {% endif %}
        </div>

      </div>
      <input type="hidden" id="proc{{count.value}}" value="{{chamado.Processador}}">
      <input type="hidden" id="ram{{count.value}}" value="{{chamado.ram}}">
      <input type="hidden" id="win{{count.value}}" value="{{chamado.Win}}">
      <input type="hidden" id="sala{{count.value}}" value="{{chamado.sala}}">
      <input type="hidden" id="num{{count.value}}" value="{{chamado.numero}}">
      {% set count.value = count.value + 1 %}
      {% endfor %}
    </section>

    <ul class="row-list">
      <a class="row" href="#">
        <li>1</li>
      </a>
      <a class="row" href="#">
        <li>2</li>
      </a>
      <a class="row" href="#">
        <li>3</li>
      </a>
      <a class="row" href="#">
        <li>4</li>
      </a>
      <a class="row" href="#">
        <li>></li>
      </a>
    </ul>
  </section>

  <footer>
    <a href="#" class="logo">FATEC</a>
  </footer>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="" id="status">asd</span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="body-modal">
          <div class="left">
            <h3 for="data" id="title"></h3>
            <span id="data"></span>
            <label for="cat">Categoria
              <span id="cat"></span>
            </label>
            <label for="cod">Código
              <span id="cod"></span>
            </label>
          </div>
          <div class="right">
            <h3>Detalhes do computador</h3>
            <span id="proc">I3 3gen</span>
            <span id="ram">4GB Ram</span>
            <span id="win">Windows 10 Home</span>
            <span id="end">Endereço: 402 02</span>
          </div>
          <div class="bottom">
            <h3>Descrição</h3>
            <span id="desc">
              O cabo da internet está conectado, mostra o icone de internet, mas não conecta em nada, nem carrega
              nenhuma pagina web.
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    function modal(id) {
      let status = document.getElementById("status" + id)
      let title = document.getElementById("title" + id)
      let data = document.getElementById("data" + id)
      let desc = document.getElementById("desc" + id)
      let cat = document.getElementById("cat" + id)
      let erro = document.getElementById("erro" + id)
      let proc = document.getElementById("proc" + id)
      let ram = document.getElementById("ram" + id)
      let win= document.getElementById("win" + id)
      let sala = document.getElementById("sala" + id)
      let numero = document.getElementById("num" + id)

      let dataModal = [
        status.innerHTML,
        title.innerHTML,
        data.innerHTML,
        desc.innerHTML,
        cat.innerHTML,
        erro.innerHTML,
        proc.value,
        ram.value,
        win.value,
        sala.value,
        numero.value
      ]
      console.log(dataModal)
      passData(dataModal)
    }

    function passData(dados) {
      let status = document.getElementById("status")
      let title = document.getElementById("title")
      let data = document.getElementById("data")
      let desc = document.getElementById("desc")
      let cat = document.getElementById("cat")
      let erro = document.getElementById("cod")
      let proc = document.getElementById("proc")
      let ram = document.getElementById("ram")
      let win= document.getElementById("win")
      let end = document.getElementById("end")

      console.log(data)
      status.setAttribute('class', dados[0])
      status.innerHTML = dados[0]
      title.innerHTML = dados[1]
      desc.innerHTML = dados[3]
      cat.innerHTML = dados[4]
      erro.innerHTML = dados[5]
      data.innerHTML = dados[2]
      proc.innerHTML = dados[6]
      ram.innerHTML = dados[7]
      win.innerHTML = dados[8]
      end.innerHTML = "Endereço: " + dados[9] + " " + dados[10]

    }


  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>