<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.png')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{url_for('static', filename='footer/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='chamados/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='header/style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet" />
  <title>Chamados - Fatec</title>
</head>

<body>
  <header>
    <a href="/">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nave">
      <ul>
        <a href="/" class="inicio">
          <li>Início</li>
        </a>
        <a href="/chamados" class="chamados">
          <li>Chamados</li>
        </a>
        <a href="/contato" class="contato">
          <li>Contato</li>
        </a>
      </ul>
    </nav>
    <div class="login">
      {% if session['categoria'] == "admin" %}
      <a href="/usuarios" class="btn1">Usuários</a>
      <a href="/logout" class="btn2">Sair</a>
      {% elif session['logged'] %}
      <a href="/meus_chamados" class="btn1">Meus chamados</a>
      <a href="/logout" class="btn2">Sair</a>
      {% else %}
      <a href="/login" class="btn1">Entrar</a>
      <a href="/cadastro" class="btn2">Registrar-se</a>
      {% endif %}
    </div>
  </header>
  
  <section class="container">
    <nav class="nav">
      <form action="/chamados" class="pesquisa">
        <img src="{{url_for('static', filename='assets/lupa.svg')}}" alt="lupa" class="lupa" />
        <input type="search" name="search" id="pes" placeholder="Pesquisar pelo titulo" />
        <input type="submit" hidden />
      </form>

      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Status
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/chamados?status=aberto">Em aberto</a></li>
          <li><a class="dropdown-item" href="/chamados?status=manutencao">Manutenção</a></li>
          <li><a class="dropdown-item" href="/chamados?status=concluido">concluído</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Categoria
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/chamados?categoria=software">Software</a></li>
          <li><a class="dropdown-item" href="/chamados?categoria=hardware">Hardware</a></li>
          <li><a class="dropdown-item" href="/chamados?categoria=rede">Rede</a></li>
        </ul>
      </div>
      <a href="/limpar" class="limpar">
        <img src="{{url_for('static', filename='assets/lixo.svg')}}" alt="limpar filtro">
      </a>
      <!-- <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Recentes</label>
      </div> -->
    </nav>
    {% if session.get('logged') and session.get('categoria') == 'suporte' or session.get('categoria') == 'admin' %}
    <div class="searched-for">
      <h1>Editar chamados</h1>
      {% if searched_for %}
      <span>Exibindo {{len}} resultados para o titulo: <b>{{searched_for}}</b></span>
      {% endif %}
    </div>
    <section class="cards">
      {% set count = namespace(value=1) %}
      {% for chamado in chamados %}
      <div class="div" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
        onclick="modal_sup('{{count.value}}')">
        <h3 id="status{{count.value}}" class="{{chamado.status}}">{{chamado.status}}</h3>
        <div>
          <h2 id="title{{count.value}}" class="titulo">{{chamado.titulo}}</h2>
          <h6 id="data{{count.value}}" class="data">{{chamado.data}}</h6>
        </div>
        <p id="desc{{count.value}}" class="tx">{{chamado.desc_chamado}}</p>
        <div>
          <h3 class="ti">Categoria</h3>
          <h6 id="cat{{count.value}}" class="cod">{{chamado.categoria}}</h6>
        </div>
        <div>
          <h3 class="ti">Código</h3>
          {% if not chamado.cod_erro %}
          <h6 id="erro{{count.value}}" class="cod">nenhum</h6>
          {% else %}
          <h6 id="erro{{count.value}}" class="cod">{{chamado.cod_erro}}</h6>
          {% endif %}
        </div>

        <input type="hidden" id="proc{{count.value}}" value="{{chamado.Processador}}">
        <input type="hidden" id="ram{{count.value}}" value="{{chamado.ram}}">
        <input type="hidden" id="win{{count.value}}" value="{{chamado.Win}}">
        <input type="hidden" id="sala{{count.value}}" value="{{chamado.sala}}">
        <input type="hidden" id="num{{count.value}}" value="{{chamado.numero}}">
        <input type="hidden" id="idChamado{{count.value}}" value="{{chamado.idChamado}}">
      </div>
      {% set count.value = count.value + 1 %}
      {% endfor %}
    </section>

    {% else %}
    <div class="searched-for">
      <h1>Chamados</h1>
      {% if searched_for %}
      <span>Exibindo {{len}} resultados para o titulo: <b>{{searched_for}}</b></span>
      {% endif %}
    </div>
    
    <section class="cards">
      {% if not chamados %}
      <div style="display: flex;flex-direction: column;">
        <p style="padding: 16px; background-color: lightgray; border-radius: 5px;border: 1px solid gray;">Não foi encontrado nenhum chamado no momento</p>
      </div>
      {% else %}
      {% set count = namespace(value=1) %}
      {% for chamado in chamados %}
      <div class="div" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
        onclick="modal('{{count.value}}')">
        <h3 id="status{{count.value}}" class="{{chamado.status}}">{{chamado.status}}</h3>
        <div>
          <h2 id="title{{count.value}}" class="titulo">{{chamado.titulo}}</h2>
          <h6 id="data{{count.value}}" class="data">{{chamado.data}}</h6>
        </div>
        <p id="desc{{count.value}}" class="tx">
          {{chamado.desc_chamado}}
        </p>
        <div>
          <h3 class="ti">Categoria</h3>
          <h6 id="cat{{count.value}}" class="cod">{{chamado.categoria}}</h6>
        </div>
        <div>
          <h3 class="ti">Código</h3>
          {% if not chamado.cod_erro %}
          <h6 id="erro{{count.value}}" class="cod">nenhum</h6>
          {% else %}
          <h6 id="erro{{count.value}}" class="cod">{{chamado.cod_erro}}</h6>
          {% endif %}
        </div>

        <input type="hidden" id="proc{{count.value}}" value="{{chamado.Processador}}">
        <input type="hidden" id="ram{{count.value}}" value="{{chamado.ram}}">
        <input type="hidden" id="win{{count.value}}" value="{{chamado.Win}}">
        <input type="hidden" id="sala{{count.value}}" value="{{chamado.sala}}">
        <input type="hidden" id="num{{count.value}}" value="{{chamado.numero}}">
        <input type="hidden" id="idChamado{{count.value}}" value="{{chamado.idChamado}}">
      </div>
      {% set count.value = count.value + 1 %}
      {% endfor %}
      {% endif %}
    </section>
    {% endif %}
    <ul class="row-list">
      <a class="row" href="#">
        <li>1</li>
      </a>
      <a class="row" href="#">
        <li>2</li>
      </a>
      <a class="row" href="#">
        <li>3</li>
      </a>
      <a class="row" href="#">
        <li>4</li>
      </a>
      <a class="row" href="#">
        <li>></li>
      </a>
    </ul>
  </section>

  <footer>
    <a href="/" class="logo">FATEC</a>
  </footer>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      {% if session.get('logged') and session.get('categoria') == 'suporte' or session.get('categoria') == 'admin' %}
      <form action="/edit_chamados/" method="post" class="modal-content">
        <div class="modal-header">
          <span class="" id="status"></span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="body-modal">
          <div class="left">
            <label for="title">
              Titulo
              <input required id="title" name="title" value="" />
            </label>
            <span id="data"></span>
            <label for="cat">Categoria
              <span id="cat"></span>
            </label>
            <label for="cod">Código
              <input required name="error" id="cod" value="" />
            </label>
          </div>
          <div class="right">
            <h3>Detalhes do computador</h3>
            <span id="proc"></span>
            <span id="ram"></span>
            <span id="win"></span>
            <span id="end"></span>
          </div>
          <div class="bottom_sup">
            <h3>Descrição</h3>
            <textarea name="desc" required id="desc" value=""></textarea>
          </div>
          <div class="alter_status">
            <h2>Alterar Status </h2>
            <div class="btn-group status-btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle drop_btn" data-bs-toggle="dropdown"
                aria-expanded="false">
                Status
              </button>
              <ul class="dropdown-menu">
                <li><button type="button" onclick="changeStatus(value)" value="Aberto" class="dropdown-item" href="">
                    Em aberto
                    <div class="red"></div>
                  </button>
                </li>
                <li><button type="button" onclick="changeStatus(value)" value="Manutenção" class="dropdown-item" href="">
                    Manutenção
                    <div class="orange"></div>
                  </button>
                </li>
                <li><button type="button" onclick="changeStatus(value)" value="Concluído" class="dropdown-item" href="">
                    concluído
                    <div class="green"></div>
                  </button>
                </li>
              </ul>
              <input id="status-hidden" type="hidden" name="status-hidden" value="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
      {% else %}
      <div class="modal-content">
        <div class="modal-header">
          <span class="" id="status"></span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="body-modal">
          <div class="left">
            <h3 id="title"></h3>
            <span id="data"></span>
            <label for="cat">Categoria
              <span id="cat"></span>
            </label>
            <label for="cod">Código
              <span id="cod"></span>
            </label>
          </div>
          <div class="right">
            <h3>Detalhes do computador</h3>
            <span id="proc"></span>
            <span id="ram"></span>
            <span id="win"></span>
            <span id="end"></span>
          </div>
          <div class="bottom">
            <h3>Descrição</h3>
            <span id="desc">
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  {% if session.get('logged') and session.get('categoria') == 'suporte' or session.get('categoria') == 'admin' %}
  <script src="{{url_for('static', filename='chamados/script.js')}}"></script>
  {% else %}
  <script src="{{url_for('static', filename='chamados/script.js')}}"></script>
  {% endif %}
</body>

</html>