* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pesquisa {
  display: flex;
  width: 600px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 10px;
}
#pes {
  width: 530px;
  border: none;
  border-bottom: solid #000 1px;
  outline: none;
}

.div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  max-width: 275px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.verde {
  font-weight: 400;
  padding: 8px 12px;
  text-align: center;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #3eaf3f;
  width: 86px;
  border-radius: 20px;
}

section h6 {
  color: #434343;
  font-weight: 100;
}

.tx {
  font-size: 10pt;
}

.ti {
  font-weight: 500;
}

section h2 {
  font-size: 15pt;
  font-weight: 500;
}

section h3 {
  font-size: 12pt;
}

.data {
  font-size: 8pt;
}

.cod {
  font-size: 10pt;
}

.lupa {
  width: 20px;
}

.row-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 10px;
}

.row {
  border: #c0c0c0 solid 1px;
  border-radius: 6px;
  padding: 4px 0px;
  color: #000;
  font-size: 10pt;
}

.row:hover {
  background-color: #4a73ff;
  color: #fff;
  transition: 0.2s;
  border-color: transparent;
}

.nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  background-color: #fff;
  border-color: transparent;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn:hover {
  background-color: #fff;
  border-color: transparent;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #e9ecef;
  --bs-dropdown-link-active-color: #000;
}

.cards {
  display: flex;
  gap: 20px;
  max-width: 100%;
  flex-wrap: wrap;
}

footer {
  margin: 0;
}

input::-webkit-search-results-decoration {
  display: none;
}

#pes::-webkit-search-cancel-button {
  display: none;
}

.cards a {
  color: inherit;
}
