* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}
body {
  font-family: "Sen", sans-serif;
}

.div {
  padding: 4;
  margin-top: 50px;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
}

.con {
  font-weight: 600;
  font-size: 19pt;
  color: #a8bafe;
  display: flex;
  margin-top: 20px;
}

.tr {
  margin-top: 10px;
  height: 2px;
  width: 1000px;
  background-color: #dedede;
}

.as {
  font-weight: 600;
  gap: 50px;
  color: #a8bafe;
  font-size: 19pt;
}

.com {
  font-weight: 600;
  color: #a8bafe;
  font-size: 19pt;
}

.btn {
  font-weight: 600;
  padding: 8px 12px;
  text-align: center;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #07185a;
  width: 100px;
  border-radius: 12px;
  border-color: transparent;
  margin-bottom: 166px;
  margin-top: 30px;
  cursor: pointer;
}
.btn:hover {
  background-color: #030c30;
  transition: 0.2s;
}
input {
  border-color: #dedede;
}

button {
  margin-top: 15px;
  margin-left: 90px;
}

.box1 {
  display: block;
  width: 400px;
  height: 55px;
  margin-top: 9px;
}

.box2 {
  margin-top: 9px;
  display: block;
  width: 400px;
  height: 120px;
}

.box3 {
  display: block;
  width: 400px;
  height: 55px;
  margin-top: 9px;
}
