<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.png')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='pisos/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='header/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='footer/style.css')}}">
  <script src="script.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sen:wght@400;700&display=swap" rel="stylesheet">
  <title>Corredor {{num}}º andar - Fatec</title>
</head>

<body>

  <header>
    <a href="/">
      <h1 class="logo">FATEC</h1>
    </a>

    <nav class="nave">
      <ul>
        <a href="/" class="inicio">
          <li>Início</li>
        </a>
        <a href="/chamados" class="chamados">
          <li>Chamados</li>
        </a>
        <a href="/contato" class="contato">
          <li>Contato</li>
        </a>
      </ul>
    </nav>
    <div class="login">
      {% if session['categoria'] == "admin" %}
      <a href="/usuarios" class="btn1">Usuários</a>
      <a href="/logout" class="btn2">Sair</a>
      {% elif session['logged'] %}
      <a href="/meus_chamados" class="btn1">Meus chamados</a>
      <a href="/logout" class="btn2">Sair</a>
      {% else %}
      <a href="/login" class="btn1">Entrar</a>
      <a href="/cadastro" class="btn2">Registrar-se</a>
      {% endif %}
    </div>
  </header>

  <main>

    <section class="step-wizard">
      <ul class="step-wizard-list">
        <li class="step-wizard-item">
          <span class="progress-count">1</span>
          <span class="progress-label">Selecione o andar</span>
        </li>
        <li class="step-wizard-item current-item ">
          <span class="progress-count">2</span>
          <span class="progress-label">Selecione a sala</span>
        </li>
        <li class="step-wizard-item">
          <span class="progress-count">3</span>
          <span class="progress-label">Selecione o computador a ser reportado</span>
        </li>
        <li class="step-wizard-item">
          <span class="progress-count">4</span>
          <span class="progress-label">Realize o chamado</span>
        </li>
      </ul>
    </section>

    <div class="container">
      <nav><a class="voltar" href="/fachada"><img src="{{url_for('static', filename='assets/voltar.png')}}" alt="">Voltar</a></nav>
      <nav class="cima">
        <a href="/piso/{{num}}/sala/{{num}}01" target="_self" class="bloco" id="a1">
          <h1 id="h1-01">{{num}}01</h1>
        </a>
        <a href="/piso/{{num}}/sala/{{num}}03" target="_self" class="bloco" id="a3">
          <h1 id="h1-03">{{num}}03</h1>
        </a>
        <div class="escada">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <a href="/piso/{{num}}/sala/{{num}}05" target="_self" class="bloco" id="a5">
          <h1 id="h1-05">{{num}}05</h1>
        </a>
        <a href="/piso/{{num}}/sala/{{num}}07" target="_self" class="bloco" id="a7">
          <h1 id="h1-07">{{num}}07</h1>
        </a>
        <a href="/piso/{{num}}/sala/{{num}}09" target="_self" class="bloco" id="a9">
          <h1 id="h1-09">{{num}}09</h1>
        </a>
        <a href="/piso/{{num}}/sala/{{num}}11" target="_self" class="bloco" id="a11">
          <h1 id="h1-11">{{num}}11</h1>
        </a>
      </nav>

      <nav class="corredor">
      </nav>

      <nav class="baixo">
        <a href="/piso/{{num}}/sala/{{num}}02" target="_self" class="bloco" id="a2">
          <h1 id="h1-02">{{num}}02</h1>
        </a>
        <a href="/piso/{{num}}/sala/{{num}}04" target="_self" class="bloco" id="a4">
          <h1 id="h1-04">{{num}}04</h1>
        </a>
        <a href="/piso/{{num}}/sala/{{num}}06" target="_self" class="bloco" id="a6">
          <h1 id="h1-06">{{num}}06</h1>
        </a>
        <a href="/piso/{{num}}/sala/{{num}}08" target="_self" class="bloco" id="a8">
          <h1 id="h1-08">{{num}}08</h1>
        </a>
        <div class="escada">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <a href="/piso/{{num}}/sala/{{num}}10" target="_self" class="bloco" id="a10">
          <h1 id="h1-10">{{num}}10</h1>
        </a>
        {% if num == "3" %}
        <a href="/sala/auditorio" target="_self" class="bloco" id="a12">
          <h1 id="h1-12">Auditório</h1>
        </a>
        {% else %}
        <a href="/piso/{{num}}/sala/{{num}}12" target="_self" class="bloco" id="a12">
          <h1 id="h1-12">{{num}}12</h1>
        </a>
        {% endif %}
      </nav>
    </div>
  </main>

  <footer>
    <a href="/" class="logo">FATEC</a>
  </footer>
</body>

</html>